[submodule "ThirdParty/Atoll"]
	path = ThirdParty/Atoll
	url = https://github.com/can4hou6joeng4/Atoll.git
	branch = integration/tokenatlas
[submodule "ThirdParty/CppJieba"]
	path = ThirdParty/CppJieba
	url = https://github.com/can4hou6joeng4/cppjieba.git
